body {
    background-color: #F2EAE2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main div */

.image-div {
    height: 240px;
}

.image-product-mobile {
    width: 343px;
    height: 240px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media screen and (max-width: 1439px){
    .image-product-desktop {
        display: none;
    }
}

/* main content */

.main-content {
    padding: 24px;
    background-color: #FFFFFF;
    width: 295px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-content h3 {
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
    width: 92px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    letter-spacing: 5px;
    margin-bottom: 12px;
}

.main-content h1 {
    color: #1C232B;
    width: 295px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    line-height: 32px;
    margin-bottom: 16px;
}

.main-content p {
    color: #6C7289;
    width: 295px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 24px;
}

/* price div */

.price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    margin-bottom: 20px;
}

.price {
    color: #3D8168;
    width: 127px;
    font-size: 32px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    line-height: 32px;
}

.price-div span {
    color: #6C7289;
    width: 48px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 23px;
    text-decoration-line: line-through;
}

/* main button */

.add-button {
    border-radius: 8px;
    padding: 15px 92px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #3D8168;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 17.07px;
}

.add-button:hover {
    background-color: #1A4032;
    cursor: pointer;
}

.cart-icon {
    width: 14.39px;
    height: 16px;
    margin-right: 11.61px;
}